<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <header> 
      </header>
      <div class="content">
        <form action="/display" method="get">
          <input type="radio" name="name" value="Sonia">Sonia<br>
          <input type="radio" name="name" value="Priya">Priya<br>
          <input type="radio" name="name" value="Both">Both<br>
          <button type="submit">Submit</button>
      </div>
      <footer>
      </footer>
    </body>
  </html>