<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <header> 
      </header>
      <div class="content">
        <div>
          <form action="/display" method="get">
            <input type="radio" name="name" value="Sonia">Sonia<br>
            <input type="radio" name="name" value="Priya">Priya<br>
            <input type="radio" name="name" value="Both">Both<br>
            <button type="submit">Submit</button>
          </form>
        </div>
        <div>
          <form action="/verify" method="post">
          Name<input type="text" name="name">
          Password<input type="password" name="password">
          Submit<button type="submit"></button>
          </form>
        </div>
      </div>

      <footer>
      </footer>
    </body>
  </html>