<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <header> 
      </header>
      <form action="/add" method="post">
        <input type="text" name="name" value="Priya" style="display: none">
        <input type="text" name="date">Date
        <input type="text" name="payee">Payee
        <input type="text" name="category">Category
        <input type="text" name="outflow" value="$0.00">Outflow
        <input type="text" name="inflow" value="$0.00">Inflow
        <input type="submit" value="Submit"
      <footer>
      </footer>
    </body>
  </html>